.game-canvas {
  border: 1px solid;
  margin: auto;
  display: block;
}

#splashScreen, #finishScreen {
     margin: 0 auto;
     text-align:center;
     width:500px;
     height: 600px;
     border: 2px solid black;
 }

 #splashScreen {
   background-image: url('/images/froggersplashScreen.svg');
 }

 #finishScreen {
   background-image: url('/images/froggerFinishScreen.svg');
 }

 .start-btn, .home-btn, .try-again-btn {
   background-color: #e6ac22;
   border: none;
   border-radius: 10px;
   color: #000000;
   height: 50px;
   font-family: 'Coiny', cursive;
   font-size: 25px;
   text-align: center;
   width: 90px;
 }

 .start-btn {
   margin-top: 479px;
 }

 .home-btn, .try-again-btn {
   margin-top: 300px;
   margin-left: 20px;
 }

 .start-btn:hover, .home-btn:hover, .try-again-btn:hover {
   background-color: #e2c791;
   border: none;
   border-radius: 10px;
   color: #000000;
   height: 50px;
   font-family: 'Coiny', cursive;
   font-size: 25px;
   text-align: center;
   width: 90px;
 }
